<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="go" description="Go" language="Go" derivedFrom="DynamicRoot" validator="go.GoValidator" validatorClass="go.GoValidator"></language>
       </extension>
       <extension id="go.parser" name="Go Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="go.GoParseController" language="Go">
          </parser>
       </extension>    
    </plugin>